<%- include('partials/header') %>

    <section class="hero bg-dark container">
        <div class="row">
            <div class="col">
            <h2 class="text-white">Empowering Your Business with Innovative Web Solutions
            </h2>
            <p class="text-white">Hi, I'm Aakash Pradhan, a passionate web developer dedicated to crafting beautiful, user-friendly websites that help your business grow.</p>
            </div>
            <div class="col"></div>
        </div>
    </section>

<% var i = 10; %>

<%= i %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>


<%- include ('partials/footer') %>
</body>

</html>