<!-- 
This template uses HTML, CSS, Bootstrap & JQuery 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container">
                <div class="logo h2 text-white">Aakash Pradhan</div>
                <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end text-white" id="navbarSupportedContent">
                    <ul class="navbar-nav gap-3">
                        <li class="nav-item"><a href="" class="nav-link text-white">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-white">About</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-white">Services</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-white">Blog</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-white">Contact</a></li>
                    </ul>
                    <a href="" class="btn btn-primary ms-5 rounded-pill"><i class="bi bi-rocket-takeoff"></i>
                        &nbsp;
                        <span>Get Free Quote</span></a>
                </div>
            </div>
        </nav>
    </header>